:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg-color: #b5ddff;
  --card-color: #5a6e7f;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}

/* UTILS */

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.col {
  padding: 15px;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-size: 1.1rem;
}

/* HEADER */

#header {
  background-color: var(--secondary-color);
  color: white;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

#header > .container > .logo,
#header > .container > nav {
  padding: 25px 0;
  /* background-color: var(--card-bg-color); */
}

nav span {
  font-size: 2rem;
}

.nav-desk {
  display: none;
}

.btn {
  background-color: white;
  color: black;
  padding: 5px 20px;
  border-radius: 20px;
}

/* SECTION DEMO APP */

#demo-app {
  padding-top: 30px;
  padding-bottom: 40px;
}
#demo-app .card {
  padding: 25px;
  padding-bottom: 0;
  background-color: var(--card-bg-color);
  border-radius: 25px;
  height: 100%;
  text-align: center;

  /* debug 
  height: 200px;*/
}

.card-app {
  text-align: start;
}

.card p {
  padding-bottom: 30px;
  padding-top: 30px;
  color: var(--card-color);
  font-weight: bold;
}

.card h3 {
  color: var(--secondary-color);
  font-size: 1.3rem;
}

.btn.bold {
  padding: 10px 50px;
  background-color: var(--secondary-color);
  color: white;
}

.card-img {
  margin-top: 30px;
}

#demo-app span {
  display: block;
  text-align: center;
}
#demo-app .fa-solid {
  font-size: 6rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

/* SECTION STRATEGIC PLANNING */

#planning {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

#planning .card {
  padding: 15px;
  background-color: violet;

  /* debug */
  height: 600px;
}

/* SECTION TESTIMONIALS */

#testimonials {
  padding-top: 30px;
  padding-bottom: 40px;
}

.test-intro {
  background-color: rgb(233, 161, 233);
  height: 150px;
  padding: 15px;
}

#testimonials .row .col:first-child {
  padding-top: 0;
}

#testimonials .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 15px;
  background-color: var(--primary-color);
}

.test-img {
  padding: 15px;

  /* debug */
  background-color: rgb(233, 161, 233);
  width: 200px;
  height: 150px;
}

.test-content {
  padding: 15px;

  /* debug */
  background-color: rgb(233, 161, 233);
  width: 100%;
  height: 150px;
}

/* SECTION BENEFITS */

#benefits {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 40px;
}

#benefits .card {
  padding: 15px;

  height: 350px;
  background-color: rgb(233, 161, 233);
}

/* SECTION ABOUT US */
#about-us {
  padding-top: 30px;
  padding-bottom: 40px;
}

#about-us .card-content {
  padding: 15px;

  height: 600px;
  background-color: var(--primary-color);
}

#about-us .card-image {
  padding: 15px;

  height: 400px;
  background-color: var(--primary-color);
}

/* BANNER CONTENT */

#banner {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 40px;
  height: 400px;
}

/* FOOTER */

#footer {
  background-color: #333333;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 200px;
}

/* ### MEDIA QUERY ### */

/* TABLET MODE */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* section demo app */
  #demo-app .row {
    display: flex;
    flex-wrap: wrap;
  }

  #demo-app .col:first-child {
    width: calc(100% / 3 * 2);
  }
  #demo-app .col {
    width: calc(100% / 3);
  }

  .card-img {
    width: 50%;
  }

  /* section testimonials */
  #testimonials .card {
    flex-direction: row;
  }

  /* section benefits */
  #benefits .row {
    display: flex;
    flex-wrap: wrap;
  }

  #benefits .col {
    width: calc(100% / 2);
  }

  /* section about us */
  #about-us .row {
    display: flex;
  }

  #about-us .col:first-child {
    width: 60%;
  }

  #about-us .col {
    width: 40%;
  }
}

/* DESKTOP MODE */
@media screen and (min-width: 1080px) {
  .container {
    max-width: 1080px;
  }

  /* header */
  .nav-desk {
    display: flex;
    align-items: center;
    height: 100%;
  }

  nav span {
    display: none;
  }

  /* section demo app */
  #demo-app .card.get {
    display: flex;
    padding-bottom: 0;
  }

  .card-app {
    width: 50%;
  }

  .card-img {
    width: 50%;
    align-self: flex-end;
  }

  /* section strategic planning */
  #planning .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #planning .col {
    width: 40%;
  }

  /* section benefits */
  #benefits .col {
    width: calc(100% / 3);
  }

  /* section about us */

  #about-us .col:first-child {
    width: 70%;
  }

  #about-us .col {
    width: 30%;
  }
}
