:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg-color: #b5ddff;
  --card-color: #5a6e7f;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILS */

.container {
  max-width: 576px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}

.col {
  padding: 15px;
}

/* HEADER */

#header {
  background-color: var(--secondary-color);
  color: white;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

#header > .container > .logo,
#header > .container > nav {
  padding: 25px;
  background-color: var(--card-bg-color);
}

/* SECTION DEMO APP */

#demo-app {
  padding-top: 30px;
  padding-bottom: 40px;
}
#demo-app .card {
  padding: 15px;
  background-color: var(--card-bg-color);

  /* debug */
  height: 200px;
}

/* SECTION STRATEGIC PLANNING */

#planning {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

#planning .card {
  padding: 15px;
  background-color: violet;

  /* debug */
  height: 600px;
}

/* SECTION TESTIMONIALS */

#testimonials {
  padding-top: 30px;
  padding-bottom: 40px;
}

.test-intro {
  background-color: rgb(233, 161, 233);
  height: 150px;
  padding: 15px;
}

#testimonials .row .col:first-child {
  padding-top: 0;
}

#testimonials .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 15px;
  background-color: var(--primary-color);
}

.test-img {
  padding: 15px;

  /* debug */
  background-color: rgb(233, 161, 233);
  width: 200px;
  height: 150px;
}

.test-content {
  padding: 15px;

  /* debug */
  background-color: rgb(233, 161, 233);
  width: 100%;
  height: 150px;
}

/* SECTION BENEFITS */

#benefits {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 40px;
}

#benefits .card {
  padding: 15px;

  height: 350px;
  background-color: rgb(233, 161, 233);
}

/* ### MEDIA QUERY ### */

/* TABLET MODE */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* section demo app */
  #demo-app .row {
    display: flex;
    flex-wrap: wrap;
  }

  #demo-app .col:first-child {
    width: calc(100% / 3 * 2);
  }
  #demo-app .col {
    width: calc(100% / 3);
  }

  /* section testimonials */
  #testimonials .card {
    flex-direction: row;
  }

  /* section benefits */
  #benefits .row {
    display: flex;
    flex-wrap: wrap;
  }

  #benefits .col {
    width: calc(100% / 2);
  }
}

/* DESKTOP MODE */
@media screen and (min-width: 1080px) {
  .container {
    max-width: 1080px;
  }

  /* section demo app */
  #demo-app .card:first-child {
    display: flex;
  }

  .card-app {
    width: 50%;
  }

  .card-img {
    width: 50%;
  }

  /* section strategic planning */
  #planning .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #planning .col {
    width: 40%;
  }

  /* section benefits */
  #benefits .col {
    width: calc(100% / 3);
  }
}
